.cart {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.cart_left {
  width: 70%;
}
.cart_ad {
  width: 100%;
  margin-bottom: 10px;
}
.cart_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
.cart_right {
  width: 30%;
  padding-right: 10px;
  text-align: center;
}
